@font-face { font-family: digital-7; src: url('fonts/digital-7 (mono).ttf'); } 
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#abffff+1,49c0f0+100 */
#clock{

    background: #a90329;
    background: -moz-radial-gradient(center, ellipse cover, hsl(346,96%,34%) 0%, hsl(346,97%,29%) 44%, hsl(346,100%,22%) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, hsl(346,96%,34%) 0%,hsl(346,97%,29%) 44%,hsl(346,100%,22%) 100%);
    background: radial-gradient(ellipse at center, hsl(346,96%,34%) 0%,hsl(346,97%,29%) 44%,hsl(346,100%,22%) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 );
    background-repeat: no-repeat;
    display: inline-block;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    margin: 0;
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

#credits{
    color: rgba(255,255,255,0.2);
    position: absolute;
    top: 80%;
    left: 80%;
    transform: translate(-20%, -20%);
    margin: 0;
    font-size: 1vw;
}

#time{
    color: rgba(255,255,255,0.7);
    font-family: digital-7;
    font-size: 26.6vw;
}

#sign{
    font-family: "Comic Sans MS";
}
#name{
    font-family: "Arial";
}    
