.font_size {
    font-size: 1.5vh;
}

.padding{
    padding: 0.5em 0.7em 0.5em 0.7em; 
}

.textbox{
    display: inline-block;
    position:absolute;
    border-radius:25px;
    direction: ltr;
}

.left_textbox{
    background-color: #007aff;
    left: 8%;
    max-width: 45%;
    color: white;

}

.right_textbox{
    max-width: 45%;
    right:6%;
    background-color: #7209b7;
    color: white;

}
