#phone { 
    /* The image used */
    background-image: url("Geirangerfjord_.jpg");
                                                  
    /* Full height */
                                                  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;

    display: inline-block;
    width: 100vw;
    height: 100vh;
    margin: 0;

}
                                                  
#phone_image{
    display: inline-block;
    position: absolute;
    z-index: 1;
    padding: 0 0 0 0;
    margin: 0 0 0 0;

}

#top_image{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    
}

#underline_image{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
